# Lambda Functions

In [2]:
#Write your lambda function here
contains_a = lambda word : 'a' in word
print(contains_a("banana"))
print(contains_a("apple"))
print(contains_a("cherry"))


#Write your lambda function here
long_string = lambda str : len(str)>12

print(long_string("short"))
print(long_string("photosynthesis"))

True
True
False
False
True

In [3]:
#Write your lambda function here
ends_in_a = lambda str : 'a' == str[-1]

print(ends_in_a("data"))
print(ends_in_a("aardvark"))

True
False

In [4]:
#Write your lambda function here
double_or_zero = lambda num : num*2 if num > 10 else 0
print(double_or_zero(15))
print(double_or_zero(5))

30
0

In [5]:
#Write your lambda function here
even_or_odd = lambda num : 'even' if num%2 == 0 else 'odd'

print(even_or_odd(10))
print(even_or_odd(5))

even
odd

In [6]:
#Write your lambda function here
multiple_of_three = lambda num : 'multiple of three' if num%3 == 0 else 'not a multiple'
print(multiple_of_three(9))
print(multiple_of_three(10))

multiple of three
not a multiple

In [7]:
#Write your lambda function here
rate_movie = lambda rating : "I liked this movie" if rating > 8.5 else "This movie was not very good"

print(rate_movie(9.2))
print(rate_movie(7.2))

I liked this movie
This movie was not very good

In [8]:
#Write your lambda function here
ones_place = lambda num : num%10

print(ones_place(123))
print(ones_place(4))

3
4

In [9]:
#Write your lambda function here
double_square = lambda num : 2*num**2

print(double_square(5))
print(double_square(3))

50
18

In [10]:
import random
#Write your lambda function here
add_random = lambda num : random.randint(1,10)+num

print(add_random(5))
print(add_random(100))

14
109

# Pandas

In [12]:
## Create Data Frame
import pandas as pd

df1 = pd.DataFrame({
  'Product ID': [1, 2, 3, 4],
  # add Product Name and Color here
  'Product Name': ['t-shirt', 't-shirt', 'skirt', 'skirt'],
  'Color' : ['blue', 'green', 'red', 'black']
})

print(df1)

AttributeError: module 'pandas' has no attribute 'DataFrame'

In [13]:
import pandas as pd

df2 = pd.DataFrame([
  [1, 'San Diego', 100],
  [2, 'Los Angeles', 120],
  # Fill in rows 3 and 4
  [3, 'San Francisco', 90],
  [4, 'Sacramento', 115]
],
  columns=[
    #add column names here
    'Store ID', 'Location', 'Number of Employees'
  ])

print(df2)

AttributeError: module 'pandas' has no attribute 'DataFrame'

In [14]:
import pandas as pd

df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

clinic_north = df.clinic_north

print(type(clinic_north))
print(type(df))

AttributeError: module 'pandas' has no attribute 'DataFrame'